.bookPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    background-color: #F5F4F0;
}

.bookPage__picture{
    width: 200px;
}

.bookPage__info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookPage__info-secondary{
    display: flex;
    flex-direction: column;
}

.bookPage__info-detail{
    text-align: left;
    width: 100%;
}

.bookPage__library{
    width: 100%;
}

.bookPage__library-btn{
    width: 100%;
    height: 90px;
    font-size: 0.6em;
    font-weight: 600;
    background-color: #838996;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    padding: 1em;
    margin-bottom: 0.5rem;
    transition: 0.4s;
}
