.bookPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    padding-bottom: 4rem;
    column-gap: 3rem;
    row-gap:2rem;
    background-color: #F5F4F0;
}

.bookPage__picture{
    width: 200px;
}

.bookPage__info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.bookPage__title{
    white-space:normal;
    max-width: 30ch;
    text-align: center;
}

.bookPage__info-secondary{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    row-gap: 2rem;
}

.bookPage__info-detail{
    text-align: left;
    width: 100%;
}

.bookPage__library{
    width: 100%;
}

.bookPage__library-btn{
    width: 80px;
    padding: 0.5rem;
    font-size: 0.5rem;
    font-weight: 600;
    background-color: #838996;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    margin-bottom: 0.5rem;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bookPage__library-btn iconify-icon{
    font-size: 1rem;
    padding: 0.5rem;
}

.bookPage__library-btns{
    display: flex;
    /* flex-direction: column; */
    gap: 0.5rem;
    justify-content: center;
}

.rankingBook__img{
    transition: 0.25s ease-in-out;
}

.rankingBook__img:hover{
    transform: scale(1.1);
}
