.loginPage{
    background-color:#F5F4F0 ;
    padding: 6rem 0;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
}

.loginPage__header hr{
    width: 70%;
    max-width: 300px;
}

.loginPage h1{
    font-weight: bold;
}

