@media (min-width:767px){
    .promo-banner__label{
        font-size: 3.3rem;
    }

    .promo-banner__text{
        font-size: 1.3rem;
    }
    
    .category{
        flex-direction: row;
    }

    .footer__header{
        flex-direction: row;
        align-items: center;
    }
 }

@media (min-width:992px){
    .header__menu-button--menu,
    .header__menu-button--search{
        display:none;
    }
    .header__menu-button--user,
    .navbar{
        display: block;
    }
    /* .page-container{
        padding: 0 3rem;
    } */
    .wrapper-search--desktop{
        display: block;
    }
    .wrapper-search--mobile{
        display: none;
    }
    
    .promo-banner{
        flex-direction: row;
        padding: 2rem;
    }
    .books-grid--hits{
        grid-template-columns:repeat(3,minmax(17rem,17rem));
    }

}


@media (min-width:1200px){
    .section-categories__links{
        flex-direction: row;
    }
    
}
