*{
    font-family: "Roboto";
}

body{
    margin: 0;
    /* background-image: url(./images/backgroundv3.jpg); */
    box-shadow: rgb(215, 215, 215) 0px 0px 0px 1px, ;
    height: 3000px;
    background-color: #F9F9F9;
}
form{
    margin: 0;
}


.label{
    color: #4E4F50;
    display: block;
    font-weight: 400;
    letter-spacing: -1.5px;
    line-height: 95%;
    text-align: center;
}

.text{
    color: #3a4c5a;
}


::-webkit-scrollbar{
    height: 5px;
    width: 2px;
}

::-webkit-scrollbar-thumb{
    background-color: #4E4F50;
    border-radius: 20px;
}

