.main__containter{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}



.book{
    padding: 0.5rem;
}

.books--grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(8,10rem);
    grid-template-rows: none;
    overflow-x: auto;
}

.book__link{
    text-decoration: none;
    color: black;
}

.book__img{
    width: 100%;
    padding: 0 0.5rem;
}

.book__title{
    margin: 0;
    text-align: center;
}

.book__author{
    margin: 0;
    text-align: center;
}

.promo-banner{
    background-color:#F5F4F0 ;
    margin-top: 2rem;
    padding: 0.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promo-banner__logo{
    display: flex;
    justify-content: right;
}

.promo-banner__img{
    width: 100%;
    max-width: 500px;
}

.promo-banner__text{
    margin-bottom: 30px;
}

.promo-banner__link{
    text-decoration: none;
    border: 1px solid #4E4F50;
    background-color: #4E4F50;
    color: white;
    border-radius: 30px;
    padding: 1rem 2rem;
}




@media (min-width:992px){
}
